.inputs-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 1.6rem;
    flex-wrap: wrap;
}

.locations-group {
    display: flex;
    align-items: flex-end;
    gap: 0.8rem;
}

.icon-wrapper {
    width: 4.2rem;
    height: 4.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100rem;
    box-shadow: 0px 8px 32px 0px rgba(32, 80, 118, 0.12);
    color: var(--blue-color);
}

.date-group {
    flex: 1;
    display: flex;
    gap: 0.8rem;
}

.button-container {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}

.submit-btn {
    border: none;
    background: none;
    width: 24rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    padding: 1.2rem 1.6rem;
    border-radius: 100rem;
    color: #fff;
    background-color: var(--blue-color);
    cursor: pointer;

    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0.1;
    text-transform: uppercase;
}
