.inputs-wrapper {
    display: flex;
    align-items: flex-start;
    column-gap: 1.6rem;
    row-gap: 4rem;
    flex-wrap: wrap;
}

.locations-group {
    flex: 1;
    display: flex;
    align-items: flex-end;
    gap: 0.8rem;
}

.icon-wrapper {
    width: 4.2rem;
    min-width: 4.2rem;
    height: 4.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100rem;
    box-shadow: 0px 8px 32px 0px rgba(32, 80, 118, 0.12);
    color: var(--blue-color);
}

.date-group {
    flex: 1;
    display: flex;
    gap: 0.8rem;
}

.number-input-wrapper {
    display: flex;
    justify-content: center;
    max-width: 13.2rem;
}

.button-container {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}

.submit-btn {
    border: none;
    background: none;
    width: 24rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    padding: 1.2rem 1.6rem;
    border-radius: 100rem;
    color: #fff;
    background-color: var(--blue-color);
    cursor: pointer;

    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0.1;
    text-transform: uppercase;
}

@media (max-width: 48rem) {
    .inputs-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
    }

    .number-input-wrapper {
        max-width: unset;
    }
}

@media (max-width: 37.5rem) {
    .inputs-wrapper {
        grid-template-rows: repeat(3, auto);
    }

    .locations-group {
        flex-direction: column;
        row-gap: 4rem;
    }

    .icon-wrapper {
        display: none;
    }

    .date-group {
        flex-direction: column;
        row-gap: 4rem;
    }

    .button-container {
        margin-top: 5.6rem;
        margin-bottom: 1.2rem;
    }
}
