// input wrapper
:global(.ant-select-single.ant-select) {
    display: block;
    height: 100%;
}

// input wrapper
:global(.ant-select-single.ant-select .ant-select-selector) {
    display: block;
}

// input wrapper
:global(.ant-select-single .ant-select-selector .ant-select-selection-search-input) {
    display: flex;
    align-items: center;
    padding: 1.2rem;
    border: 1px solid var(--border-color);
    border-radius: 0.8rem;
    transition: border-color 0.3s;
    cursor: text;

    &:focus-within {
        outline: none;
        border-color: var(--blue-color);
    }
}

:global(.ant-select-single .ant-select-selector .ant-select-selection-search-input) {
    &::before {
        line-height: 2rem !important;
    }
}

// input
:global(.ant-input-affix-wrapper.ant-select-selection-search-input > input.ant-input) {
    height: 2rem;
    border: none;
    outline: none;
    cursor: text;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: var(--font-nunito-sans);
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);

    &::placeholder {
        color: var(--gray-color-100);
        font-weight: 400;
        opacity: 1;
    }
}

// prefix icon
:global(.ant-input-affix-wrapper .ant-input-prefix) {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.8rem;
}

// dropdown
:global(.ant-select .ant-select-dropdown) {
    box-shadow: 0px 4px 12px 0px rgba(32, 80, 118, 0.12);
    backdrop-filter: blur(2rem);
    background-color: #fff;
    inset: calc(100%) auto auto auto !important;
    margin-top: 0.4rem;
}

:global(.rc-virtual-list-holder-inner) {
    gap: 0.2rem;
}

:global(.ant-select-dropdown .ant-select-item-option.ant-select-item) {
    border-radius: 0.8rem;
    padding: 0.6rem 1.2rem;
}

.wrapper {
    flex: 1;
    min-width: 19rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.location-heading {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    letter-spacing: 0;
    margin-bottom: 0.8rem;
    color: var(--gray-color-400);
}

.location-item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: var(--font-nunito-sans);
    font-size: 1.4rem;
    font-weight: 600;
}

.location-name {
    color: var(--text-color);
    line-height: 1.4;
}

.location-code {
    font-size: 1.2rem;
    line-height: 1.2;
    color: var(--gray-color-400);
}

.validate-message {
    position: absolute;
    top: 100%;
    margin-top: 0.4rem;
    // display: none;
    span {
        display: -webkit-box !important;
        -webkit-line-clamp: 2;
        -webkit-box-orient: block-axis;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.6rem;
        letter-spacing: 0;
        color: var(--red-color);
    }
}

// @media (max-width: 768px) {
//     .wrapper {
//         max-width: unset;
//     }

//     :global(.ant-select .ant-select-dropdown) {
//         box-shadow: 0px 4px 12px 0px rgba(32, 80, 118, 0.12);
//         backdrop-filter: blur(2rem);
//         background-color: #fff;
//         inset: calc(100%) auto auto auto !important;
//         margin-top: 0.4rem;
//         width: 100% !important;
//     }
// }
