.wrapper {
    width: 100%;
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.heading {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    letter-spacing: 0;
    margin-bottom: 0.8rem;
    color: var(--gray-color-400);
}

.checkbox-wrapper {
    display: inline-flex;
    margin-bottom: 0.8rem;
}

.checkbox-container {
    display: inline-flex;
    align-items: center;
    position: relative;
    height: 1.6rem;
    padding-left: 2.4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Hide the browser's default checkbox */
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    &:hover input ~ .checkmark {
        background-color: rgba($color: rgb(204, 207, 213), $alpha: 0.3);
    }

    input:checked ~ .checkmark {
        background-color: var(--blue-color);
        border-color: transparent;
    }

    input:checked ~ .checkmark::after {
        display: block;
    }
}

.roundtrip-text {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0;
    color: var(--gray-color-400);
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.6rem;
    width: 1.6rem;
    border: 1px solid;
    border-color: var(--border-color);
    border-radius: 0.4rem;
    background-color: #fff;

    /* Create the checkmark/indicator (hidden when not checked) */
    &::after {
        content: '';
        display: none;
        position: absolute;
        left: 4px;
        top: 0px;
        width: 5px;
        height: 10px;
        border: solid #ffffff;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

.date-picker-container {
    position: relative;
}

.date-header-wrapper {
    width: 100%;
}

.date-input-wrapper {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    padding: 1.2rem;
    border: 1px solid var(--border-color);
    border-radius: 0.8rem;
    transition: border-color 0.3s;
    cursor: pointer;
    background-color: #fff;

    &:focus-within {
        outline: none;
        border-color: var(--blue-color);
    }
}

.roundtrip-not-check {
    pointer-events: none;
    background-color: rgba($color: #242628, $alpha: 0.1);

    .date-input {
        background-color: transparent;
        color: rgba($color: #242628, $alpha: 0.1);
    }

    .calendar-icon {
        color: rgba($color: #242628, $alpha: 0.1);
    }
}

.calendar-icon-wrapper {
    width: 2rem;
    height: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.date-input {
    flex: 1;
    width: 100%;
    height: 2rem;
    border: none;
    outline: none;
    font-size: 1.4rem;
    cursor: pointer;

    &::placeholder {
        color: var(--gray-color-100);
        font-weight: 400;
        opacity: 1;
    }
}

/* date picker  */
.date-picker {
    position: absolute;
    z-index: 1000;
    background-color: #ffffff;
    border-radius: 0.8rem;
    box-shadow: 0 4px 12px 0px rgba(32, 80, 118, 0.12);
    animation: fadeIn 0.4s ease;
}

.months-container {
    display: flex;
}

.prev-month .next-btn {
    display: none;
}

.next-month .prev-btn {
    display: none;
}

.validate-message {
    position: absolute;
    top: 100%;
    margin-top: 0.4rem;
    span {
        display: -webkit-box !important;
        -webkit-line-clamp: 2;
        -webkit-box-orient: block-axis;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.6rem;
        letter-spacing: 0;
        color: var(--red-color);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

// MonthCalendar
.month {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 1.2rem;
}

.month-header {
    display: flex;
    gap: 1.6rem;
}

.month-title {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0;
}

.month-nav-btn {
    background: none;
    border: none;
    transition: background-color 0.2s;
    padding: 0.8rem;
    border-radius: 0.4rem;
    cursor: pointer;

    &:hover {
        background-color: rgba($color: #19c0ff, $alpha: 0.08);
    }
}

.chevron-icon {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Đảm bảo nút được đặt đúng vị trí */
.month:first-child .month-title {
    justify-content: flex-start;
}

.month:last-child .month-title {
    justify-content: flex-end;
}

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 3.6rem);
    text-align: center;
}

.weekday {
    padding: 0.8rem;
    font-size: 1.6rem;
    line-height: 1.4;
    font-weight: 500;
    letter-spacing: 0;
    color: var(--gray-color);
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 3.6rem);
    grid-auto-rows: 3.6rem;
}

.day {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    padding: 0.4rem;
    border-radius: 0.4rem;
    cursor: pointer;
    font-size: 1.4rem;
    line-height: 1.6;
    font-weight: 600;
    letter-spacing: 0.05;

    &:hover {
        background-color: rgba($color: #19c0ff, $alpha: 0.08);
    }
}

.other-month {
    color: var(--gray-color-100);
}

.today,
.selected {
    color: var(--blue-color);
}

.day:not(.other-month).weekend:not(.selected):not(.today) {
    color: var(--red-color);
}

@media (max-width: 37.5rem) {
    .date-picker {
        width: 100%;
    }

    .months-container {
        display: block;
    }

    .month {
        gap: 1.6rem;
        padding: 2.4rem;
    }

    .weekdays {
        grid-template-columns: repeat(7, 1fr);
    }

    .days {
        grid-template-columns: repeat(7, 1fr);
        grid-auto-rows: minmax(3.6rem, 4rem);
    }

    .next-month {
        display: none;
    }

    .prev-month .next-btn {
        display: block;
    }

    .month .month-header {
        .month-title {
            justify-content: center;
        }
    }
}

@media (max-width: 30rem) {
    .month {
        padding: 1.6rem;
    }
    .days {
        grid-template-columns: repeat(7, 1fr);
        grid-auto-rows: 3.6rem;
    }
}
