// input wrapper
:global(:where(.css-dev-only-do-not-override-kk2c0l).ant-select-single.ant-select) {
    display: block;
    height: unset;
    max-width: 20.8rem;
}

// input wrapper
:global(:where(.css-dev-only-do-not-override-kk2c0l).ant-select-single.ant-select .ant-select-selector) {
    display: block;
}

// input wrapper
:global(
        :where(.css-dev-only-do-not-override-kk2c0l).ant-select-single
            .ant-select-selector
            .ant-select-selection-search-input
    ) {
    display: flex;
    align-items: center;
    padding: 1.6rem;
    border: 1px solid var(--border-color);
    border-radius: 0.8rem;
    transition: border-color 0.3s;
    cursor: text;

    &:focus-within {
        outline: none;
        border-color: var(--blue-color);
    }
}

// input
:global(
        :where(.css-dev-only-do-not-override-kk2c0l).ant-input-affix-wrapper.ant-select-selection-search-input
            > input.ant-input
    ) {
    height: 2rem;
    border: none;
    outline: none;
    cursor: text;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: var(--font-nunito-sans);
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);

    &::placeholder {
        color: var(--gray-color-100);
        font-weight: 400;
        opacity: 1;
    }
}

// prefix icon
:global(:where(.css-dev-only-do-not-override-kk2c0l).ant-input-affix-wrapper .ant-input-prefix) {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.8rem;
}

// dropdown
:global(:where(.css-dev-only-do-not-override-kk2c0l).ant-select .ant-select-dropdown) {
    box-shadow: 0px 4px 12px 0px rgba(32, 80, 118, 0.12);
    backdrop-filter: blur(2rem);
    background-color: #fff;
}

:global(.rc-virtual-list-holder-inner) {
    gap: 0.2rem;
}

:global(:where(.css-dev-only-do-not-override-kk2c0l).ant-select-dropdown .ant-select-item-option.ant-select-item) {
    border-radius: 0.8rem;
    padding: 0.8rem 1.6rem;
}

.wrapper {
    display: inline-flex;
    flex-direction: column;
}

.location-heading {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 0;
    color: var(--gray-color-400);
}

.location-item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: var(--font-nunito-sans);
    font-size: 1.4rem;
    font-weight: 600;
}

.location-name {
    color: var(--text-color);
    line-height: 1.4;
}

.location-code {
    font-size: 1.2rem;
    line-height: 1.3;
    color: var(--gray-color-400);
}
