.wrapper {
    display: inline-flex;
    flex-direction: column;
    max-width: 13.2rem;
    font-family: var(--font-nunito-sans);
}

.heading {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    letter-spacing: 0;
    margin-bottom: 0.8rem;
    color: var(--gray-color-400);
}

.input-container {
    display: flex;
    gap: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 0.8rem;
    transition: border-color 0.3s;
    cursor: text;

    &:focus-within {
        outline: none;
        border-color: var(--blue-color);
    }
}

.input-group {
    display: flex;
    gap: 0.8rem;
    padding: 1.2rem;
    color: var(--text-color);
    cursor: text;
}

.icon-wrapper {
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0;

    /* Ẩn spinner mặc định */
    -moz-appearance: textfield;
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.controls {
    display: flex;
    flex-direction: column;
}

.btn {
    flex: 1;
    border: none;
    background: transparent;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
}

.up-btn {
    border-bottom: 1px solid #e5e7eb;
    border-left: 1px solid #e5e7eb;
}

.down-btn {
    border-left: 1px solid #e5e7eb;
}

.btn-icon-wrapper {
    width: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
